<!-- begin aside -->
<aside class="aside js-sticky-polyfill js-menu" data-menu="aside">
  <button class="aside__close js-menu-close"></button>
  
  <div class="aside__logo">
    <img class="js-lazy" alt="" src="" data-src="./img/logo.png"/>
  </div>

  <div class="aside__nav">
    {% set nav = { mod: 'nav--aside' } %}
    {% include "partials/_nav.html" %}
  </div>

  <div class="aside__contacts-mob">
    {{ mixins.list(
      name = '',
      modifications = { wrap: 'nav nav--sm', item: '', link: '' },
      list = [
        { item: 'TEl: +38 (044) 248 98 21' },
        { link: 'pravo@boniuk.ua', href: 'mailto:pravo@boniuk.ua' },
        { item: 'м. Київ, вул. Сурикова, 3-А, поверх 4' }
      ]
    ) }}
  </div>
</aside>
<!-- end aside -->