{{ mixins.list(
  name = 'nav',
  modifications = { wrap: nav.mod, item: '', link: '' },
  list = [
    { link: 'головна', modLink: 'is-active' },
    { link: 'практики', item: '
      <ul>
        <li><a href="#">практика вирішення спорів</a></li>
        <li><a href="#">практика приватних клієнтів</a></li>
        <li><a href="#">практика кримінального права та процесу</a></li>
        <li><a href="#">практика земельного права та процесу</a></li>
      </ul>
    ' },
    { link: 'команда' },
    { link: 'прес-центр', item: '
      <ul>
        <li><a href="#">новини</a></li>
        <li><a href="#">публікації</a></li>
      </ul>
    ' },
    { link: 'кар’єра' },
    { link: 'контакти' }
  ]
) }}