<!-- begin page-header -->
<header class="page-header">
  <div class="page-header__lang">
    {{ mixins.list(
      name = 'lang',
      modifications = { wrap: '', item: '', link: '' },
      list = [
        { link: 'ua', modLink: 'is-active' },
        { item: '|' },
        { link: 'en' }
      ]
    ) }}
  </div>

  <div class="page-header__title">
    <h1 class="title title--h2">{{ header.title | safe }}</h1>
  </div>

  <div class="page-header__breadcrumbs">    
    {{ mixins.list(
      name = 'breadcrumbs',
      modifications = { wrap: header.breadcrumbs.mod, item: '', link: '' },
      label = { first: 'Ви тут:' },
      list = header.breadcrumbs.list
    ) }}
  </div>
</header>
<!-- end page-header -->