<!-- begin section -->
<section class="section section--page">
  <div class="section-block">
    <div class="section-block__left">
      <img class="js-lazy" alt="" src="" data-src="./img/contacts.jpg"/>
    </div>

    <div class="section-block__right">
      <!-- begin contacts-block -->
      <div class="contacts-block">
        <div class="contacts-block__block">У вас з’явилися питання?</div>

        <div class="contacts-block__block">
          <p>TEL: +38 (044) 248 98 21</p>
          <p>TEL: +38 (068) 166 86 84</p>
          <p>Viber, WhatsApp, Telegram</p>
        </div>
        <div class="contacts-block__block">
          <p><a href="mailto:pravo@boniuk.ua">pravo@boniuk.ua</a></p>
          <p>м. Київ, вул. Сурикова, 3-А, поверх 3 - <a href="#">Дивитись на мапі</a></p>
        </div>


      </div>
      <!-- end contacts-block -->
    </div>
  </div>
</section>
<!-- end section -->