{%set
jobs = [
  {},
  {},
  {}
]
%}

<!-- begin section -->
<section class="section section--page">
  <div class="section__text">
    Помощник адвоката, стажировка у адвоката для сдачи экзамена или после экзамена. Законное трудоустройство, все бумаги для стажировки и сдачи экзамена для помощников адвокатов Требования юристов - уметь и иметь желание делать претензионно-исковую работу, представительство заинтересованностей в судах. В случае отсутствия умения выполнять претензионно-исковую работу - имеется возможность стажировки для обучения. Место работы Киев. Иногородним поможем организовать жилье недалеко от места работы
  </div>

  <div class="section__title section__title-left">
    <h2 class="title title--h2">вакансії</h2>
  </div>

  <!-- begin accordion -->
  <div class="accordion js-accordion">
    {% for i in jobs %}    
    <div class="accordion-item">
      <button class="accordion-item__title js-accordion-title">Помічний адвоката на повну ставку</button>

      <div class="accordion-item__content js-accordion-content">
        {% for j in range(0, 2) %}
        <p>Помощник адвоката, стажировка у адвоката для сдачи экзамена или после экзамена. Законное трудоустройство, все бумаги для стажировки и сдачи экзамена для помощников адвокатов Требования юристов - уметь и иметь желание делать претензионно-исковую работу, представительство заинтересованностей в судах. В случае отсутствия умения выполнять претензионно-исковую работу - имеется возможность стажировки для обучения. Место работы Киев. Иногородним поможем организовать жилье недалеко от места работы</p>
        {% endfor %}

        {{ mixins.btn(
          title = 'Відправити резюме',
          mod = ''
        ) }}
      </div>
    </div>
  {% endfor %}
  </div>
  <!-- end accordion -->
</section>
<!-- end section -->