<!-- begin section -->
<section class="section section--page">
  <div class="grid">
    <div class="grid__col grid__col-2-6">
      {{ mixins.member(
        title = 'Ганна Шишко',
        subttl = 'Керуючий партнер, адвокат',
        text = '
          <p>Office: <a href="tel:+330144882929">+33 (0)1 44 88 29 29</a></p>
          <p>Fax: <a href="tel:+330144882920">+33 (0)1 44 88 29 20</a></p>
          <p><a href="mailto:david.winter@alaris-law.com">david.winter@alaris-law.com</a></p>
        '
      ) }}
    </div>

    <div class="grid__col grid__col-4-6">
      <!-- begin article -->
      <div class="article">
        <p><strong>Спеціалізація</strong> – кримінальне право та процес, перевірки органами державної влади, медіація</p>
        <p>Ганна – цілеспрямований керівник, лідер, блискучий наставник, професіонал з нестандартним мисленням.</p>
        <p>Надаючи правову допомогу у сфері кримінального права і процесу більше 10 років, орієнтується на ефективну роботу, спрямовану на результат.</p>
        <p><strong>Освіта:</strong> 2002–2008 р.р. – вища юридична, юридичний факультет Київського національного університету імені Тараса Шевченка (освітньо-кваліфікаційний рівень – Магістр права, з відзнакою), спеціальність – «Правознавство».</p>
        <p>У 2010 році отримала свідоцтво про право на заняття адвокатською діяльністю. Член Асоціації правників України, включена до Реєстру адвокатів, які надають безоплатну вторинну правову допомогу.</p>
        <p>Поєднує практичну діяльність з нормопроектуванням – є співавтором низки проектів нормативно-правових актів.</p>
        <p>Приймала участь у тренінгах, організованих Координаційним центром з надання правової допомоги, Радою Європи та Українською фундацією правової допомоги. Пройшла курс тренінгів та отримала статус адвоката-тренера. Як адвокат-тренер проводила каскадний тренінг для адвокатів, які надають безоплатну правову допомогу на тему: «Кримінальний процесуальний кодекс України: застосування крізь призму європейських стандартів».</p>
      </div>
      <!-- end article -->
    </div>
  </div>
</section>
<!-- end section -->