<!-- begin section -->
<section class="section section--page">
  <!-- begin article -->
  <div class="article">
    <p>03 жовтня 2019 року Верховна Рада України прийняла в другому читанні проект закону №1046 «Про концесії», метою якого є удосконалення правового регулювання концесійної діяльності для реалізації масштабних проектів на умовах концесії, що відповідатимуть міжнародній практиці.</p>
    <p>У прийнятому законопроекті концесія визначається як форма здійснення державно-приватного партнерства (ДПП), що передбачає надання концесієдавцем концесіонеру права на створення та/або будівництво (нове будівництво, реконструкцію, реставрацію, капітальний ремонт та технічне переоснащення), та/або управління (користування, експлуатацію, технічне обслуговування) об’єктом концесії, та/або надання суспільно значимих послуг в порядку та на умовах, визначених концесійним договором, і передбачає передачу концесіонеру переважної частини операційного ризику, який охоплює ризик попиту та/або ризик пропозиції.</p>
    <p>Адвокат АО «Бонюк і партнери» Анастасія Грачова звертає увагу, що у даному визначенні, на відміну від Закону України «Про концесії» від 1999 року, чітко зазначено, </p>

    <figure>
      <img class="js-lazy" alt="" src="" data-src="./img/news-article.jpg"/>
    </figure>

    <p>що це форма державно-приватного партнерства, тобто «співпраця» сторін концесійного договору. </p>
    <p>«Таким чином, держава демонструє відкритість до приватних інвестицій, що дозволяє приватному сектору долучитись до реалізації масштабних інфраструктурних проектів», – зауважила адвокат.</p>
    <p>Серед основних новацій Законопроекту самі його автори виділяють, зокрема, такі:</p>

    <ul>
      <li>чітке розмежування регулювання концесії та інших форм здійснення ДПП;</li>
      <li>єдину процедуру ініціювання та прийняття рішення щодо здійснення ДПП для всіх форм ДПП, у тому числі концесії;</li>
      <li>запровадження прозорої процедури вибору концесіонера (концесійний конкурс, конкурентний діалог), що відповідає кращій міжнародній практиці, зокрема «Типовим законодавчим положенням щодо проектів в сфері інфраструктури, які фінансуються з приватних джерел», ЮНСІТРАЛ;</li>
      <li>можливість залучення радників та незалежних експертів для підготовки проектів ДПП у формі концесії;</li>
      <li>додаткові гарантії для концесіонерів та кредиторів, зокрема, передбачення концесійним договором права заміни концесіонера на іншого концесіонера;</li>
      <li>спрощення процедур виділення земельних ділянок для проектів ДПП у формі концесії;</li>
    </ul>
  </div>
  <!-- end article -->

  <hr class="hr hr--mb">

  <div class="section__title section__title-left">
    <h2 class="title title--h2">Читайте також:</h2>
  </div>

  {{ mixins.list(
      name = 'news-links',
      modifications = { wrap: '', item: '', link: '' },
      list = [
        { link: '05.04.2019 р. керуючий партнер, адвокат АО «Бонюк і партнери» Ганна Шишко взяла участь у Міжнародному кримінально-правовому форумі.' },
        { link: 'IBAN стане обов’язковим з 13 січня 2020 року. До того часу – «перехідний період»' },
        { link: 'Стягнення аліментів на території іншої держави' },
        { link: '05.04.2019 р. керуючий партнер, адвокат АО «Бонюк і партнери» Ганна Шишко взяла участь у Міжнародному кримінально-правовому форумі.' },
        { link: 'Відшкодування плати за землю' }
      ]
    ) }}
</section>
<!-- end section -->