{%set
news = [
  {
    title: '05.04.2019 р. керуючий партнер, адвокат АО «Бонюк і партнери» Ганна Шишко взяла участь у Міжнародному кримінально-правовому форумі.',
    text: 'На заході було розглянуто: сучасні виклики для інституту прокуратури, реалії та перспективи системи пробації, резонансні кримінальні провадження'
  },
  {
    title: 'IBAN стане обов’язк
овим з 13 січня 2020 року. До того часу – «перехідний період»',
    text: 'Як відомо, в Україні запроваджено міжнародний номер банківського рахунка за стандартом IBAN (Іnternational Bank Account Number) і з 5 серпня 2019 року всі банки відкривають клієнтам нові рахунки лише за цим стандартом. Діючі рахунки мали б змінити відповідно до вимог цього стандарту до 31 жовтня 2019 року включно'
  },
  {
    title: 'Стягнення аліментів на території іншої держави',
    text: 'Потрібно оформити звернення з клопотанням про визнання і виконання рішення суду України про стягнення аліментів на території іншої держави?'
  },
  {
    title: '05.04.2019 р. керуючий партнер, адвокат АО «Бонюк і партнери» Ганна Шишко взяла участь у Міжнародному кримінально-правовому форумі.',
    text: 'На заході було розглянуто: сучасні виклики для інституту прокуратури, реалії та перспективи системи пробації, резонансні кримінальні провадження'
  },
  {
    title: 'IBAN стане обов’язк
овим з 13 січня 2020 року. До того часу – «перехідний період»',
    text: 'Як відомо, в Україні запроваджено міжнародний номер банківського рахунка за стандартом IBAN (Іnternational Bank Account Number) і з 5 серпня 2019 року всі банки відкривають клієнтам нові рахунки лише за цим стандартом. Діючі рахунки мали б змінити відповідно до вимог цього стандарту до 31 жовтня 2019 року включно'
  },
  {
    title: 'Стягнення аліментів на території іншої держави',
    text: 'Потрібно оформити звернення з клопотанням про визнання і виконання рішення суду України про стягнення аліментів на території іншої держави?'
  }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container container--sm">
    <div class="section__title">
      <h2 class="title title--h2">новини</h2>
    </div>

    <!-- begin slider -->
    <div class="slider__wrap slider--items__wrap">
      <div class="slider slider--items js-slider" data-slider="items">
        {% for i in news %}
        <!-- begin slide -->
        <div class="slide">
          <!-- begin news-item -->
          <div class="news-item">
            <div class="news-item__title">
              <h3 class="title title--h3 title--inline title--tdu">{{ i.title | safe }}</h3>
            </div>

            <div class="news-item__text">{{ i.text | safe }}</div>

            <div class="news-item__link">
              <a href="#" class="link">детальніше</a>
            </div>
          </div>
          <!-- end news-item -->
        </div>
        <!-- end slide -->
        {% endfor %}
      </div>

      <button class="slider__prev prev js-slider-prev">&#60;</button>
      <button class="slider__next next js-slider-next">&#62;</button>
    </div>
    <!-- end slider -->
  </div>
</section>
<!-- end section -->