{%set
news = [
  {
    title: 'Верховний Суд покращив умови для стягнення аліментів на дитину',
    text: 'Зокрема, судом було встановлено що замалі доходи чоловіка не є причиною не сплачувати належний розмір аліментів, а також роз’яснено, що аліменти можуть утримуватись і з відсотків за розміщення коштів на депозитних рахунках у банках.'
  },
  {
    title: 'Верховний Суд покращив умови для стягнення аліментів на дитину',
    text: 'Зокрема, судом було встановлено що замалі доходи чоловіка не є причиною не сплачувати належний розмір аліментів, а також роз’яснено, що аліменти можуть утримуватись і з відсотків за розміщення коштів на депозитних рахунках у банках.'
  },
  {
    title: 'Верховний Суд покращив умови для стягнення аліментів на дитину',
    text: 'Зокрема, судом було встановлено що замалі доходи чоловіка не є причиною не сплачувати належний розмір аліментів, а також роз’яснено, що аліменти можуть утримуватись і з відсотків за розміщення коштів на депозитних рахунках у банках.'
  },{
    title: 'Верховний Суд покращив умови для стягнення аліментів на дитину',
    text: 'Зокрема, судом було встановлено що замалі доходи чоловіка не є причиною не сплачувати належний розмір аліментів, а також роз’яснено, що аліменти можуть утримуватись і з відсотків за розміщення коштів на депозитних рахунках у банках.'
  },
  {
    title: 'Верховний Суд покращив умови для стягнення аліментів на дитину',
    text: 'Зокрема, судом було встановлено що замалі доходи чоловіка не є причиною не сплачувати належний розмір аліментів, а також роз’яснено, що аліменти можуть утримуватись і з відсотків за розміщення коштів на депозитних рахунках у банках.'
  },
  {
    title: 'Верховний Суд покращив умови для стягнення аліментів на дитину',
    text: 'Зокрема, судом було встановлено що замалі доходи чоловіка не є причиною не сплачувати належний розмір аліментів, а також роз’яснено, що аліменти можуть утримуватись і з відсотків за розміщення коштів на депозитних рахунках у банках.'
  },
  {
    title: 'Верховний Суд покращив умови для стягнення аліментів на дитину',
    text: 'Зокрема, судом було встановлено що замалі доходи чоловіка не є причиною не сплачувати належний розмір аліментів, а також роз’яснено, що аліменти можуть утримуватись і з відсотків за розміщення коштів на депозитних рахунках у банках.'
  },
  {
    title: 'Верховний Суд покращив умови для стягнення аліментів на дитину',
    text: 'Зокрема, судом було встановлено що замалі доходи чоловіка не є причиною не сплачувати належний розмір аліментів, а також роз’яснено, що аліменти можуть утримуватись і з відсотків за розміщення коштів на депозитних рахунках у банках.'
  }
]
%}

<!-- begin section -->
<section class="section section--page">
  <div class="grid">
    {% for i in news %}
    <div class="grid__col grid__col-3-6">
      <!-- begin news-item -->
      <div class="news-item">
        <div class="news-item__img js-lazy" data-background-image="./img/alimenty.jpg"></div>

        <div class="news-item__content">
          <div class="news-item__title">
            <h3 class="title title--h3 title--inline title--tdu title--ttn"><a href="#">{{ i.title | safe }}</a></h3>
          </div>

          <div class="news-item__text">{{ i.text | safe }}</div>

          <div class="news-item__link">
            <a href="#" class="link">детальніше</a>
          </div>
        </div>        
      </div>
      <!-- end news-item -->
    </div>
    {% endfor %}
  </div>

  <div class="section__pagination">
    {{ mixins.list(
      name = 'pagination',
      modifications = { wrap: '', item: '', link: '' },
      list = [
        { link: '1', modLink: 'is-active' },
        { link: '2' },
        { link: '3' },
        { link: '4' },
        { link: '5' }
      ]
    ) }}
  </div>
</section>
<!-- end section -->