<!-- begin section -->
<section class="section section--page">
  {{ mixins.list(
    name = 'list',
    modifications = { wrap: '', item: '', link: '' },
    list = [
      { item: 'корпоративні спори;' },
      { item: 'спори у сфері антимонопольного та конкурентного права;' },
      { item: 'приватизаційні спори;' },
      { item: 'договірні спори та спори щодо стягнення заборгованості і відшкодування шкоди;' },
      { item: 'земельні спори та спори щодо нерухомості;' },
      { item: 'спори у сфері права інтелектуальної власності;' },
      { item: 'процедури банкрутства та ліквідації;' },
      { item: 'податкові спори;' },
      { item: 'спори з контролюючими та регуляторними органами;' },
      { item: 'оскарження нормативно-правових актів та правових актів індивідуальної дії;' },
      { item: 'спори пов’язані з державними закупівлями;' },
      { item: 'визнання та виконання рішень іноземних судів, міжнародних комерційних арбітражів в Україні, надання дозволу на примусове виконання рішень третейських судів;' },
      { item: 'оскарження рішень третейських судів;' },
      { item: 'звернення до Європейського суду з прав людини' }
    ]
  ) }}

  <hr class="hr hr--mb">

  <div class="section__title section__title-left">
    <h2 class="title title--h2">Керівник практики</h2>
  </div>

  {{ mixins.member(
    mod = 'member--hor',
    title = 'Ганна Шишко',
    subttl = 'Керуючий партнер, адвокат',
    text = '
      <p>Office: <a href="tel:+330144882929">+33 (0)1 44 88 29 29</a></p>
      <p>Fax: <a href="tel:+330144882920">+33 (0)1 44 88 29 20</a></p>
      <p><a href="mailto:david.winter@alaris-law.com">david.winter@alaris-law.com</a></p>
    '
  ) }}
</section>
<!-- end section -->