.aside
  position: sticky
  z-index: 10
  top: 0
  float: left
  overflow: auto
  overflow: auto
  width: $aside-width
  padding-left: 15px
  padding-right: 30px
  padding-top: 15px
  padding-bottom: 15px
  background-color: $white
  +ready
    +tr(transform .3s)
  +sm
    transform: translate(calc(-100% - 15px), 0)
    float: none
    position: fixed
    left: 0
    width: 100%
    bottom: 0
    padding: 15px
    &.is-active
      transform: translate(0, 0)
  &__logo
    margin-bottom: 60px
  &__close
    @extend .header__close