.aside
  position: sticky
  z-index: 10
  top: 0
  // height: 100vh
  overflow: auto
  // top: 0
  // left: 0
  // right: 0
  // bottom: 0
  overflow: auto
  width: $aside-width
  padding-left: 15px
  padding-right: 30px
  padding-top: 15px
  &__logo
    margin-bottom: 60px