.news-item
  display: block
  &__title
    margin-bottom: 20px
    display: block
    +md
      margin-bottom: 10px
  &__text
    margin-bottom: 20px
    display: block
    +md
      margin-bottom: 10px
  &__link
    display: block